<h1>Places I've Been</h1>

<p>Here are all the places I've been (jealous?):</p>

<ul>
  <% @places.each() do |place| %>
  <li><%= place.description() %></li>
  <% end %>
</ul>

<p>Create a new place:</p>

<form action="/places" method="post">
  <label for="description">Place Description</label>
  <input id="description" name="description" type="text">

  <button type="submit">Add More Places</button>
</form>
